.address-card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 320px;
    height: 130px; 
    padding:20px;
    gap: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.address-card span{
    color: #009788;
    font-weight: bold;
}

@media (max-width:426px) {
    .address-card{
        width: 90vw;
        height: 130px; 
        padding:10px;
        gap: 3px;
    }
}