  .book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 170px;
    padding: 10px 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
  }

  .book-card:hover {
    transform: translateY(-5px);
  }
  
  .book-card-image {
    height: 115px;
    margin-top: 7px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-card-title {
    width: 150px;
    margin-top: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .book-card-author {
    margin-top: 6px;
    font-size: 14px;
    color: #666666;
  }
  
  .book-card-price {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .book-card-button {
    margin-top: 5px;
    padding: 7px 14px;
    font-size: 14px;
    color: #ffffff;
    background-color: #02b19f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .book-card-button:hover {
    background-color: #00a494;
  }
  .book-card-button-remove{
    margin-top: 5px;
    padding: 7px 14px;
    font-size: 14px;
    color: #ffffff;
    background-color: #FF4938;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .book-card-button-remove:hover{
    background-color: #e94132;
  }
  

  @media (max-width:426px) {

    .book-card {
      width: 140px;
      padding: 10px 10px;
    }
    .book-card-image {
      height: 100px;
      margin-top: 0px;
    }
    .book-card-title {
      width: 130px;
      margin-top: 7px;
      font-size: 14px;

    }  
    .book-card-author {
      margin-top: 2px;
      font-size: 12px;
    }
    .book-card-price {
      margin-top: 5px;
      font-size: 14px;
      font-weight: bold;
    }
    .book-card-button {
      margin-top: 5px;
      padding: 7px 12px;
      font-size: 13px;
    }
    .book-card:hover {
      transform: none;
    }
  }