.category-row {
    margin: 0 auto;
    margin-top: 63px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    gap: 5px;
  }
  
  .category-list {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
    overflow-x: hidden;
    flex: 1;
    padding: 10px 10px 10px 25px;
  }
  
  .category-item {
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
    /* background-color: #d3e8e8; */
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  .category-item.selected {
    background-color: #aaeae9;
    cursor: default; 
    pointer-events: none;
  }
  .category-item.selected:hover {
    background-color: #aaeae9;
  }
  .category-item:hover {
    background-color: #c4e4e4;
  }
  
  
  .scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #ff0404;
    transition: color 0.3s;
    background-color: #fff;
    position: absolute;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  }
  
.left {
  left: 7px;
  transform: rotate(180deg);
}

.right {
  right: 0px;
}
  