.category-result-container{
    width: 98%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    gap: 20px;

}
.category-result-filter{
    width: 30%;
    height: 425px;
    border-radius: 10px;
    position: sticky;
    top: 63px;
}
.category-result-item-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px 10px;
}
.category-result-list-container{
    width: 100%;
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filter-button{
    display: none;
}
.filter-button-container{
    display: flex; 
    justify-content: flex-end;
    display: none;
}
.filter-button-container div{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 5px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.category-filter-modal-cross-button{
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: 25px; 
    cursor: pointer;
    transition: 300ms;
    padding: 5px;
    display: none;
}


@media (max-width:426px) {

    .category-result-container{
        width: 95vw;
    }
    .category-result-item-container{
        width: 100%;
        gap: 10px;
    }
    .category-result-list-container{
        width: 100%;
        margin: auto 0;
        justify-content: space-around;
    }
    .category-result-filter{
        display: none;
    }
    .filter-button-container{
        display: flex;
        justify-content: flex-end;
    }
    .category-result-filter-model{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
        background-color: #fff;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }
    .category-filter-modal-cross-button{
        display: flex;
    }
}