  .category-row {
    margin: 0 auto;
    margin-top: 55px;
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 100%;
    position: relative;
  }
  
  .category-list {
    display: flex;
    gap: 1.5vw; 
    overflow-x: hidden;
    flex: 1;
    margin-top: 5px;
    padding: 10px 10px 10px 25px;
  }
  
  .category-item {
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
    background-color: #e9f0fe;
    /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); */
    font-size: 14px;

  }
  
  .category-item.selected {
    background-color: #b0ffde;
    cursor: default; 
    pointer-events: none;
  }
  .category-item.selected:hover {
    background-color: #C2E7FF;
  }
  .category-item:hover {
    background-color: #def2fe
  }
  
  
  .scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #ff0404;
    transition: color 0.3s;
    background-color: #fff;
    position: absolute;
    z-index: 5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .left {
    transform: rotate(180deg);
  }

  .right {
    right: 0px;
  }
    

  @media (max-width:426px) {
    .category-item {
      font-size: 13px;
    }
    .left {
      display: none;
    }
    .right {
      display: none;
    }
    .category-list {
      padding: 7px 8px;
      gap: 2vw; 
    }
    
  }
