  .result-book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 200px;
    height: 300px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    margin-top: 10px;
  }
  .result-book-card .book-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
  .result-book-card .book-card-footer{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .result-book-card .book-card:hover {
    transform: translateY(-5px);
  }
  
  .result-book-card .book-card-image {
    height: 170px;
    margin-top: 7px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result-book-card .book-card-title {
    width: 200px;
    margin-top: 7px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .result-book-card .book-card-author {
    margin-top: 6px;
    font-size: 14px;
    color: #666666;
  }
  .result-book-card .book-card-author span{
    font-weight: bold;
  }
  .result-book-card .book-card-price {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5px;
    font-size: 17px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .result-book-card .book-card-button {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    color:#02b19f;
    background-color: #fff;
    border: 1px solid #02b19f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .result-book-card  .book-card-button:hover {
    color: #018577;
    border: 1px solid #018577;
  }
  .result-book-card .book-card-button-remove{
    margin-top: 5px;
    padding: 7px 14px;
    font-size: 14px;
    color: #ffffff;
    background-color: #FF4938;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .result-book-card .book-card-button-remove:hover{
    background-color: #e94132;
  }

  @media (max-width:426px) {

    .result-book-card {
      width: 140px;
      height: auto;
      padding: 10px;
      margin-top: 5px;
    }
    .result-book-card .book-card-image {
      height: 100px;
    }
    .result-book-card .book-card-content{
      margin-top: 10px;
    }
    .result-book-card .book-card-title {
      width: 130px;
    }
    .result-book-card .book-card-footer{
      gap: 5px;
      margin-top: 5px;
    }
    .result-book-card .book-card-button {
      padding: 6px;
      font-size: 13px;
    }
    
  }
