:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #9f9e9e;
  --border-radius: 8px;
  --speed: 500ms;
}                                                                     

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ddropdown-menu ul{
  list-style: none;
}

.ddropdown-menu a {
  text-decoration: none;
}

.dmenu-trigger img{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.ddropdown-menu{
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.ddropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.ddropdown-menu.active{
 
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.ddropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}


.ddropdown-menu h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-text-color);
  line-height: 1.2rem;
  /* background-color: #ffee07; */
}

.ddropdown-menu h3 span{
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}
.ddropdown-menu ul li{
  padding: 7px  0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.ddropdown-menu ul li:hover a{
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.ddropdown-menu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}

.ddropdownItem{
  display: flex;
  margin: 10px auto;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.ddropdownItem img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.ddropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}