.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
  }
  
  .error-content {
    width: 90vw;
    text-align: center;
  }
  
  .error-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ff4c4c;
  }
  
  .error-page-message {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .error-description {
    font-size: 1rem;
  }
  