
.login-page-container{
  display: flex;
  justify-content: center;
}

.login-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: #b5f4f53d;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  margin-top: 30px;
}
.login-page form{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  /* background-color: #cd1e1e; */
}

.login-page h1 {
  font-size: 24px;
  margin-bottom: 40px;
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-page input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
  outline: none;
}
.login-page input:focus{
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}

.login-page button.login-button {
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  background-color: #56c1eb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.login-page button.login-button:hover {
  background-color: #3aaad9;
}

p.login-with-email-link, p.login-with-phone-link {
  margin-bottom: 7px;
  font-size: 14px;
}
p.create-account-link{
  margin-top: 20px;
}
p.forgot-password-link{
  margin-top: 0;
  font-size: 14px;
}
p.login-with-email-link a, p.login-with-phone-link a, p.create-account-link a {
  color: #0f38ed;
  text-decoration: none;

}
#registration-page h1{
  margin-bottom: 40px;
}
#password-page h1{
  margin-bottom: 40px;
}

.error-message{
  color: red;
  font-size: 12px ;
  margin-top: -12px; 
  margin-bottom: 10px;
  margin-left:3px;  
}


@media (max-width:426px) {

  .login-page {
    width: 100vw;
    height: 100vh;
    padding: 20px 0 0 0;
    margin-top: 0;
    justify-content: flex-start;

  }
  .login-page h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .login-page button.login-button {
    padding: 12px 10px;
    margin-top: 50px;
  }
  #registration-page h1{
    margin-bottom: 50px;
  }
  #password-page h1{
    margin-bottom: 50px;
  }

  
}