.main-section{
    margin: auto;
    width: 95%;
    height: 250px;
    border-radius: 10px;
    background-color: #bbe2eb5d;;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  
  }
  .main-section-content{
    width: 60%;
    font-family: cursive;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .main-section-img{
    width: 50%;
  }
  .main-section-img img{
    margin-left: 80px;
  }
  .shop-now-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .shop-now-btn a{
    text-decoration: none;
    color: rgb(45, 92, 245);
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
    font-size: small;
  }
  
  .main-section-img img{
    
    height: 230px;
    mix-blend-mode: darken;
  }