.main-section{
    margin: auto;
    width: 95%;
    height: 310px;
    border-radius: 10px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  .main-section-content{
    /* margin-left: 10%; */
    font-family: cursive;
    font-size: 23px;
    font-weight: bold;
    /* background-color: #ec0c0c; */
    
  }
  .shop-now-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: #ff6f4be5;
    border-radius: 5px;
  }
  .shop-now-btn a{
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    transition: 300ms;
  }
  .shop-now-btn a:hover{
    color: rgb(45, 92, 245);
  }
  .shop-now-btn HiOutlineArrowLongRight{
    background-color: #d8c2c2;
  }
  
  .main-section-img img{
   
    height: 280px;
    mix-blend-mode: darken;
  }