.main-section{
    margin: auto;
    width: 95%;
    height: 310px;
    /* margin-top: 10px; */
    border-radius: 10px;
    background-color: #bbe2eb5d;;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  .main-section-content{
    width: 60%;
    font-family: cursive;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #ec0c0c; */
    
  }
  .main-section-img{
    width: 40%;
    /* background-color: #ad8080; */
  }
  .shop-now-btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .shop-now-btn a{
    text-decoration: none;
    color: rgb(45, 92, 245);
    font-size: 18px;
    padding: 10px;
    transition: all 0.3s ease;
    font-size: small;
  }
  
  .main-section-img img{
   
    height: 280px;
    mix-blend-mode: darken;
  }