nav {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 95%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   }
   .nav_left_content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .book-app-logo img{
     width: 150px;
     mix-blend-mode: darken;
   }
   
   .nav_left_content ul {
     list-style-type: none;
     display: flex;
     justify-content: end; 
     gap: 20px;
     margin-right: 20px;
   }
   .nav_left_content li a {
     text-decoration: none;
     color: #333;
     font-size: 18px;
     padding: 15px;
     transition: all 0.3s ease;
   }
   
   .nav_left_content li a:hover {
     color: #e48a03;
   }
  
   .nav-right-content{
     width: 40%;
     display: flex;
     justify-content: space-around;
   }

   .icons{
     color: black;
     display: flex;
     width: 50px;
     justify-content: space-evenly;
     align-items: center;
     gap: 20px;
   }
   .icon{
     font-size: 20px;
     transition: 300ms;
   }
   .icon:hover{
     color:#1502ed;
   }
   .cart-icon, .profile-icon{
    position: relative;
    display: flex;
    padding: 7px 10px;
    transition: 300ms;
  }
  
  .cart-quantity {
    position: absolute;
    top: -5px; 
    right: -5px; 
    background-color: #009AEE;
    color: #fff;
    font-size: 12px;
    width: 19px;
    height: 19px;
    text-align: center;
    border-radius: 50%;
    z-index: 1; /* Make sure the p tag appears above the CartIcon */
  }
  .cart-quantity span{
    position: absolute;
    top: 2px; 
    right: 5px; 
  }
  
   .cart-icon, .profile-icon:hover{
    cursor: pointer;
   }
   .icons a{
    color: black;
   }
   .login-button {
     background-color: #FF5F6D;
     color: #fff;
     border: none;
     border-radius: 4px;
     padding: 10px 12px;
     font-size: 16px;
     letter-spacing: 2px;
     cursor: pointer;
     transition: background-color 0.3s ease;
   }
   
   .login-button:hover {
     background-color: #FF4358;
   }

  