nav {
    /* top:0px;
    position: sticky; */
    /* background-color: #3fce54; */
    margin-top: 10px;
    display: flex;
    align-items: center;
   }
   .nav_left_content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .book-app-logo img{
     width: 150px;
     mix-blend-mode: darken;
   }
   
   ul {
     list-style-type: none;
     display: flex;
     padding: 10px;
     gap: 10px;
     margin-left: 20px;
     font-weight: bolder;
   }
   li a {
     text-decoration: none;
     color: #333;
     font-size: 18px;
     padding: 10px;
     transition: all 0.3s ease;
   }
   
   li a:hover {
     color: #FF4358;
   }
  
   .nav-right-content{
     width: 50%;
     display: flex;
     justify-content: space-around;
     gap: 10px;
     /* border: 1px solid red; */
   }
   .icons{
     color: black;
     display: flex;
     width: 50px;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     gap: 20px;
   }
   .icon{
     font-size: 20px;
     transition: 300ms;
   }
   .icon:hover{
     color:#1502ed;
   }
   .cart-icon, .profile-icon{
     padding: 7px 10px;
     transition: 300ms;
   }
   .icons a{
    color: black;
   }
   .login-button {
     background-color: #FF5F6D;
     color: #fff;
     border: none;
     border-radius: 4px;
     /* margin-left: 40px; */
     padding: 10px 15px;
     font-size: 16px;
     font-weight: bold;
     cursor: pointer;
     transition: background-color 0.3s ease;
   }
   
   .login-button:hover {
     background-color: #FF4358;
   }
