.order-item {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 700px;
    height: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .order-item .book-image {
    width: 70px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .order-item .book-details {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #e79e9e; */
  }
  .book-details-second{
    margin-right: 100px;
  }
  .book-title {
    font-size: 18px;
  }
  
  .book-author {
    font-size: 14px;
    color: #777;
  }
  
  .quantity,
  .delivery-date,
  .delivery-status,
  .delivery-address {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .delivery-status {
    font-weight: bolder;
    font-size: 15px;
    color: #008000; /* Green for delivered */
  }

  .delivery-status span{
    color: black;
  }
  
  .delivery-address {
    color: #555;
    margin-right: 50px;
  }
  