.order-success-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
  }
  
  .order-success-content {
    margin-top: 20px;
    height: 150px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .order-success-content h1 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .order-success-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .continue-shopping-btn {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .continue-shopping-btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width:426px) {
    .order-success-content {
      padding: 20px;
    }
    .order-success-content h1 {
      font-size: 22px;
    }
    
  }