.order-item {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 700px;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .order-item:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  .order-item .book-image {
    width: 70px;
    object-fit: cover;
    margin-left: 10px;
  }
  
  .order-item .book-details {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 50px;
    /* background-color: #e79e9e; */
  }
  .book-details-second{
    width: 250px;
    margin-right: 100px;
    display: flex;
    flex-direction:column;
    gap: 7px;
  }
  .book-title {
    font-size: 16px;
  }
  
  .book-author {
    font-size: 14px;
    color: #777;
  }
  
  .quantity span,
  .delivery-date span,
  .delivery-statuss span {
    font-size: 15px;
    font-weight: bold;
  }
  #delivery-date-span{
    font-size: normal;
    font-weight: normal;

  }

  .forword-sign{
   margin-right: 20px;
  }
  #order-Cancelled-status, #order-Returned-status{
    color: red;
  }
  #order-Pending-status{
    color: rgb(219, 146, 20);
  }
  #order-Confirmed-status{
    color: rgb(18, 109, 227);
  }
  #order-Shipped-status{
    color: rgb(12, 167, 144);
  }
  #order-Delivered-status{
    color: rgb(15, 167, 25);
  }
  #order-item-cancelled{
    background-color: #f6dede;
  }
  #order-item-delivered{
    background-color: #bfe8d6;
  }
  .text-with-line-through {
    text-decoration: line-through;
  }