.order-item-details-container {
  background-color: #fff;
  width: 100%;
  margin-top: 53px;
  display: flex;
}

.order-item-image {
  height: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.order-item-image img {
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.order-item-details {
  flex: 2;
  padding: 20px;
}
.order-item-details span{
  font-weight: bold;
}
.order-item-details-extra{
  width: 560px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 0px;
  /* background-color: #f3f3f3; */
}
.order-item-details h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.order-item-details h2 {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(5, 84, 148);
}

.order-item-details p {
  font-size: 1rem;
  margin-bottom: 8px;
}

.cancel-order-button button{
  width: 140px;
  height: 50px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 300ms;
  position: relative;

}
.cancel-order-button button:hover {
  background-color: #ff4c39;
}


@media (max-width:426px) {
  .order-item-details-container {
    flex-direction: column;
  }
  .order-item-image {
    padding: 10px;
  }
  .order-item-image img {
    width: 50%;
  }
  .order-item-details-extra{
    width: 100%;
    flex-direction: column;
    gap: 4vw;
    padding: 10px 0px;
    /* background-color: #91bc93; */
  }
  
}