/* OrderPage styles */
.order-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-page h2{
    margin-top: 20px;
}
.order-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
  }
  
  