.recommended-section {
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .recommended-section__title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;

  }
  
  .recommended-section__books {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
  @media screen and (max-width: 480px) {
    .recommended-section__books {
      flex-wrap: nowrap;
    }
  }
  