.recommended-section {
    width: 98%;
    margin: auto;
    padding-bottom: 20px;
    background-color: #fff;
    /* margin-top: 10px; */
  }
  
  .recommended-section-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;

  }
  
  .recommended-section-books {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  @media screen and (max-width: 426px) {

    .recommended-section-books {
      gap: 2vw;
    }
  }
  