.search-box {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  background-color: #f1f1f1;
  border-radius: 20px;
  overflow: hidden;
  width: 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.search-box.active {
  width: 250px;
  opacity: 1;
  visibility: visible;
}

.search-input {
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-input:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.416);
}
