search-box-container{
  display: flex;
  flex-direction: column;
  position: absolute;
}
.search-box {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  background-color: #ffffff8c;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 20px;
  overflow: hidden;
  width: 30vw;
  transition: 0.3s;
  box-shadow: 0 0 10px #ddd;
  margin-left: 2vw;
}

.search-input {
  padding: 10px;
  border: none;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.search-input:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  margin-top: 6px;
  color: rgb(139, 134, 134);
}

.suggestedSearchResults{
  position: absolute;
  width: 30vw;
  background-color: #fff;
  padding: 10px 14px;
  padding-left: 5px;
  margin-left: 2vw;
  margin-top: 3px;
  border-radius: 10px;
  box-shadow: 0 0 15px #c0c0c0;
  transition: 0.3s;
}
.result-text-container{
  display: flex;
}
.result-text{
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  padding: 7px 10px;
  padding-right: 0;
  font-size: 14px;
  cursor: pointer;
  display: inline;
  border-radius: 5px;

}
.result-text-container:hover{
  background-color: #e2f2f6;
  border-radius: 5px;
}
#result-text-search-button{
  font-size: 18px;
  color: rgb(139, 134, 134);
  margin-top: 8px;
  padding-left: 5px;
}
.remove-search-box-size{
  display: none;
}

@media (min-width:380px) And (max-width:426px) {
  .search-box {
    width: 48vw;
    height: 34px;
    border:none;
    border-radius: 20px;
  }
  .search-box-increase-size{
    width: 73vw;
  }
  .search-input {
    padding: 6px;
    font-size: 14px;
  }
  .search-button {  
    font-size: 16px;
    margin-top: 5px;
  }
  .suggestedSearchResults{  
    width: 73vw;
  }
  .suggestedSearchResults-decrease-size{
    width: 48vw;   
  }
  .remove-search-box-size{
    display: inline;
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #9b96967e; */
  }
 
}

@media (max-width:380px){
  .search-box {
    width: 48vw;
    height: 34px;
    border:none;
    border-radius: 20px;
  }
  .search-box-increase-size{
    width: 70vw;
  }
  .search-input {
    padding: 6px;
    font-size: 14px;
  }
  .search-button {  
    font-size: 16px;
    margin-top: 5px;
  }
  .suggestedSearchResults{  
    width: 70vw;
  }
  .suggestedSearchResults-decrease-size{
    width: 48vw;   
  }
  .remove-search-box-size{
    display: inline;
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #dcd9d986; */
  }
  
}
