.seller-dashboard-container{
  width: 100%;
  margin-top: 53px;  
  background-color: #fff;
}
.seller-dashboard {
  width: 70%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  padding: 15px 0px;
  color: #333;
  display: flex;
  flex-direction: column;
}

.seller-dashboard h2 {
  margin-bottom: 20px;
  text-align: center;
}
.dashboard-main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.see-all-orders-btn-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  /* margin-right: 1vw; */
}
#see-all-orders-btn{
  width: 120px;
  height: 30px;
  color: #029788;
  font-size: 14px;
  border:1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color:#fff;
  cursor: pointer;
  padding: 5px;
}
.dashboard-main button {
  padding: 10px 15px;
  background-color: #008cff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.dashboard-main button:hover {
  background-color: #0476f0;
}
.profile-icon.seller-profile-icon{
  font-size: 20px;
  transition: 300ms;
  color: #333;
  cursor: pointer;
}
.profile-icon.seller-profile-icon:hover{
  color: #4d4d4e;
}

.published-books {
  margin-top: 20px;
  margin-bottom: 10px;
}

.published-books h3 {
  font-size: 20px;
}
.seller-books{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width:426px) {

  .seller-dashboard-container{
    width: 94vw;
    padding: 3vw;
  }
  .seller-dashboard {
    width: 100%;
  }
  #see-all-orders-btn{
    margin: 0;
  }
  .published-books {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .see-all-orders-btn-container{
    margin-right: 1vw;
  }
  
}


