  .seller-book-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: box-shadow 0.3s ease-in-out;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .seller-book-card .left-content{
    height: 95px;
    display: flex;
    gap: 1vw;
  }
  .seller-book-card .image-container{
    width: auto;
    height: 100%;
  }
  .seller-book-card .book-image{
    height: 100%;
    object-fit: cover;

  }
  .seller-book-card .seller-book-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
  }
  .seller-book-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .seller-book-card .book-details-info{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
  }
  .seller-book-card .book-details-button{
    display: flex;
    gap: 10px;
  }
  .book-details-button button{
    padding: 10px 15px;
    background-color: #008cff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .book-details-button button:hover{
    background-color: #0476f0;
  }
  .seller-book-card .book-title {
    font-size: 15px;
    font-weight: bold;
    width: 200px !important;
  }
  .seller-book-id span, .book-stock span, .book-author span{
    font-weight: bold;
  }
  .seller-book-card .book-author {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .book-price {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .book-stock {
    font-size: 16px;
    color: #666;
    margin-right: 20px;
  }
  .update-btn.uppper-btn{
    background-color: #02b19f;
  }
  .update-btn.uppper-btn:hover{
    background-color: #00a494;
  }
  #activate-btn{
    background-color: #008cff;
  }
  #activate-btn:hover{
    background-color: #0476f0;
  }
  #deactivate-btn{
    background-color: #FF5F6D;
  }
  #deactivate-btn:hover{
    background-color: #FF4358;
  }

  @media (max-width:426px) {

    .seller-book-card {
      flex-direction: column; 
      justify-content: start;
      align-items: flex-start;
      width: 88vw;
      height: auto;
      gap: 2vw;
      padding: 2vw;
    }
    .seller-book-card .left-content{
      height: 63px;
      gap: 4vw;
    }
    .seller-book-card .book-details-button{
      flex-direction: column;
      gap: 2vw;
    }
    .seller-book-card .seller-book-details{
      width: 100%;
      gap: 0;
      justify-content: space-between;
    }
  }