.seller-book-card {
    display: flex;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    transition: box-shadow 0.3s ease-in-out;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  .seller-book-card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .seller-book-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .seller-book-card .book-details-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .seller-book-card .book-details-button{
    display: flex;
    gap: 10px;
  }
  .book-details-button button{
    padding: 10px 15px;
    background-color: #008cff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .book-details-button button:hover{
    background-color: #0476f0;
  }
  /* Book cover image */
  .book-image {
    width: 70px;
    object-fit: cover;
  }
  
  /* Book details */
  .book-title {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    width: 150px;
  }
  .seller-book-id span, .book-stock span{
    font-weight: bold;
  }
  .book-author {
    /* width: 220px; */
    font-size: 16px;
    color: #666;
  }
  
  .book-price {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .book-stock {
    font-size: 16px;
    color: #666;
    margin-right: 20px;
  }
 
  .update-btn{
    background-color: #FF5F6D;
  }
  .update-btn:hover{
    background-color: #FF4358; 
  }
  .update-btn.uppper-btn{
    background-color: #FF9F00;
  }
  .update-btn.uppper-btn:hover{
    background-color: #ef9503;
  }
  #activate-btn{
    background-color: #08b441;
  }
  #activate-btn:hover{
    background-color: #079b38;
  }
  #deactivate-btn{
    background-color: #FF5F6D;
  }
  #deactivate-btn:hover{
    background-color: #FF4358;
  }