.services {
    width: 95%;
    margin: auto;
    padding: 30px 20px 50px 20px;
    text-align: center;
    /* background-color: #f1a6a680; */
  }
  
  .services__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .services__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
  }
  