.menu-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 900px;
}

.dropdown-menu{
  position: fixed;
  top: 50px;
  right: 25px;
  z-index: 10;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 13px;
  width: 200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  opacity: 0;
}

/*specific for the seller dropdown menu */
#menu-container-seller{
  position: fixed;
  top: 185px;
  right: 350px;
}

.dropdown-menu.visible {
  opacity: 1;
}

.dropdown-menu.hidden {
  opacity: 0;
}
.dropdown-menu ul{
  margin-left: 15px;
  list-style: none;
}

.dropdown-menu h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 3px 0;
  font-weight: 500;
  font-size: 18px;
  color: rgb(99, 99, 99);
}

.dropdown-menu h3 span{
  font-size: 14px;
}
.dropdown-menu ul li{
  padding: 2px  0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a{
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-menu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}
.dropdownItem:hover{

  color: rgba(247, 108, 108, 0.836);
}
.dropdownItem .dropdown-icon{
  font-size: 20px;
  transition: 300ms;
}
.dropdownItem a{
  font-size: 15px;
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}

@media (max-width:426px) {
  .dropdown-menu{
    position: fixed;
    top: 50px;
    right: 15px;
    z-index: 10;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 13px;
    width: 170px;
   
  }
  .dropdown-menu h3{
    font-size: 15px;
    padding: 3px 0;
  }
  .dropdown-menu h3 span{
    font-size: 13px;
  }
  .dropdownItem{
    display: flex;
    margin: 4px auto;
  }
  .dropdownItem .dropdown-icon{
    font-size: 16px;
    transition: 300ms;
  }
  .dropdownItem a{
    font-size: 16px;
  }
  /*specific for the seller dropdown menu */
  #menu-container-seller{
    position: fixed;
    top: 185px;
    right: 55px;
  }
}